.featured{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.featured__container{
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)) !important;
}

.sneaker{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--dark-color-lighten);
    border-radius: .5rem;
    transition: .3s;
}

.sneaker__sale{
    position: absolute;
    left: .5rem;
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: .25rem .5rem;
    border-radius: .25rem;
    font-size: 18px;
    transform: rotate(-90deg);
    letter-spacing: .1rem;
}

.sneaker__img{
    width: 220px;
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-6);
    transform: rotate(-30deg);
    filter: drop-shadow(0 12px 8px rgba(0,0,0,.4));
}

.sneaker__name, .sneaker__price{
    font-size: 18px;
    letter-spacing: .1rem;
    font-weight: var(--font-semi-bold);
}

.sneaker__name{
    margin-bottom: var(--mb-1);
}

.sneaker_price{
    margin-bottom: var(--mb-4);
}
.sneaker:hover{
    transform: translateY(-.5rem);
    cursor: pointer;
}

.button-light{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--dark-color);
    font-weight: var(--font-bold);
}

.button-icon{
    font-size: 1.25rem;
    margin-left: var(--mb-1);
    transition: .3s;
}
.button-light:hover .button-icon{
    transform: translateX(.25rem) ;
}