.nav{
    height: var(--header_height);
    max-width: unset !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.nav__item{
    margin-bottom: var(--mb-4);
}

.nav__logo{
    font-weight: var(--font-semi-bold);
}

.nav__toogle, .nav__shop{
    font-size: 1.3rem;
    cursor: pointer;
}
/*============ MENU SHOW ============*/
.show{
    left: 0 !important;
}

.active{
    position: relative;
}
.active::before{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 45%;
    width: 4px;
    height: 4px;
    background-color: var(--dark-color);
    border-radius: 50%;
}

@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: var(--header_height);
        left: -100%;
        width: 70%;
        height: 100vh;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }
}

@media screen and (min-width: 768px){
    .nav{
        height: calc(var(--header_height) + 1.5rem);
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none !important;
    }
}