.footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)) !important;
}

.footer__box{
    margin-bottom: var(--mb-4);
}

.footer__title{
    font-size: var(--lg-font);
}

.footer__link{
    display: block;
    width: max-content;
    margin-bottom: var(--mb-1);
}