:root{
    --header_height:3rem;

    --font-medium : 500;
    --font-semi-bold: 600;
    --font-bold:700;

    --dark-color: #141414;
    --dark-color-light: #8A8A8A;
    --dark-color-lighten: #f2f2f2;
    --white-color:#fff;

    --lg-font: 1.25rem;
    --xl-font: 1.5rem;
    --md-font: .938rem;
    --sm-font: .813rem;

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}


*, ::before, ::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header_height) 0 0 0;
    font-size: var(--md-font);
    font-weight: var(--font-medium);
    line-height: 1.6;
}

h1,h2,h3,p,ul{
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none !important;
    color: var(--dark-color) !important;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}


.section{
    padding: 5rem 0 2rem;
    justify-content: center;
    align-items: center;
}

.section-title{
    position: relative;
    font-size: var(--lg-font);
    margin-bottom: var(--mb-4);
    text-align: center;
    letter-spacing: .1rem;
}
.section-title::after{
    content: '';
    position: absolute;
    width: 56px;
    height: .18rem;
    top: -1rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--dark-color);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--dark-color-lighten);
}


.bg-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.bx{
    font-size: 30px;
}

/* ============== FOOTER ============== */


/*============ RESPONSIVE ============*/

@media screen and (min-width: 768px){
    :root{
        --lg-font: 1.5rem;
        --xl-font: 2rem;
        --md-font: 1rem;
        --sm-font: .875rem;
    }
    body{
        margin: 0;
    }
    .section{
        padding: 7rem 0;
    }
    .section-title:after{
        width: 76px;
    }



}
