
.collection__container{
    row-gap: 2rem;
    justify-content: center;
    max-width: unset !important;
}

.collection__card{
    position: relative;
    display: flex;
    height: 328px;
    background-color: var(--dark-color-lighten);
    padding: 2rem;
    border-radius: .5rem;
    transition: .3s;
}

.collection__data{
    align-self: flex-end;
}

.collection__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
}

.collection__name{
    font-size: var(--xl-font);
    margin-bottom: .25rem;
}

.collection__description{
    margin-bottom: var(--mb-2);
}

.collection__card:hover{
    transform: translateY(-.5rem);
}

@media screen and (min-width:576px){
    .collection__container{
        grid-template-columns: 415px !important;
    }

    .collection__img{
        width: 260px;
    }

}